/* header */
.header {
    /* background-color: rgb(19, 102, 227); */
    background-color: #00ccff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
/* #3366FF */
.text-header {
    color: white;
    font-weight: 500;
    text-decoration: none;
}
.btn-box {
    font-weight: 500 !important;
    background-color: #00ccff !important;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* main */

.group-main {
    margin: 20px 120px;
    border: grey solid 2px;
    border-radius: 4px;
}
.group {
    margin: 6px 6px;
    border-radius: 7px;
}
.border-bt {
    border-bottom: 1px dashed rgb(163, 163, 163);
    margin: 5px 5px !important;
}
.text-inf {
    font-weight: 500;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.text-tt {
    color: #0400ff;
    font-weight: 500;
}
.btn-bs {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.text-hright {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

/* footer */

.u-footer {
    border-top: 1px dashed #2f58cd;
    background-color: #62cdff;
    font-weight: 500;
}

/* propose */
.group-main-pro {
    margin: 20px 240px;
    border: grey solid 2px;
    border-radius: 4px;
}
.input-pr {
    height: 35px;
    border-radius: 5px;
    border: black solid 2px;
}

/* result */
.main-result {
    border: #3c3c3e solid 2px;
    border-radius: 50px;
    width: 60%;
    margin: 2% 20% 2% 20%;
}
.bd-result {
    border-bottom: #d1d0d5 dashed 2px;
}
.txt-dm {
    font-size: 20px;
    font-weight: 600;
    color: grey;
    margin: 5px 0px;
}
.txt-nd {
    font-size: 20px;
    color: black;
    font-weight: 500;
}

/* calendar */
.main-calendar {
    border: black solid 2px;
    margin: 10px 5px 10px 5px;
    padding: 2% 2%;
}
.txt-calendar {
    font-size: 20px;
    vertical-align: middle;    
}

/* publish */
.main-publish {
    margin: 20px 100px;
    border: grey solid 2px;
    border-radius: 4px;
    padding: 2% 6%;
}